h1 {
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 6px 6px 10px rgba(144, 44, 231, 0.75);
}

h2 {
    text-align: left;
    padding: 0.3em;
    background-color: darkolivegreen;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0.5em 0.5em 0.5em black;
    
}

p {
    font-family: sans-serif;
    font-size: medium;
}

.top {
    background-color: darkolivegreen;
    border-radius: 1em;
}

body {
    background: linear-gradient(rgb(75, 84, 92),rgb(148, 159, 167) );
    height: 120vh;
}

aside {
    float: right;
}

footer {
    gap: 1em;
    position: absolute;
    bottom: -25%;
    width: 100%;
    background-color: rgb(162, 200, 213);
    color: rgb(17, 15, 15);
    text-align: center;
}

.menu li {
    display: inline-block;
    font-weight: 400;
    font-size: large;
    text-align: left;
    border-style: solid;
    border-radius: 1em;
    border-color:  rgb(117, 9, 9);
    background-color: #5c755e;
    width: 24%;
    overflow: hidden;
    margin-left: -0.15em;
    margin-right: -0.15em;
    box-shadow: 0.4em 0.4em 0.2em black;
    
}

.menu ul {
    list-style-type: none;
    overflow: hidden;
    text-align: start;
    
}

.menu a {
    color: rgb(213, 201, 201);
    padding: 9em;
    text-decoration: none;
    font-size: large;
}
.menu a:hover {
    background-color: rgb(56, 56, 173);
}

.artikkeli {
    margin: 1em;
    background-color: #d8d7c6;
    border-radius: 5px;
    padding: 10px;
    max-width: 37.5em;
    box-shadow: 1em 1em 10px rgb(81, 54, 58);
}

#harrasteet {
    font-weight: 600;
    font-size: x-large;
    list-style-type: none;
    display: flex;
    gap: 13.4em;
    padding: 0 12.5em;
    background-color: darkolivegreen;
    border-radius: 1em;
    float: left;
    box-shadow: 0.5em 0.5em 0.5em black;
}

#harrastuksista p {
    clear: left;
    background-color: #d8d7c6;
    border-radius: 0.5em;
    padding: 1em;
    box-shadow: 1em 1em 1em rgb(81, 54, 58);
}

.pohja {
    height: 10em;
    width: 20em;
    background-color: rgb(209, 197, 197);
    border-radius: 0.5em;
    transition: background-color 3s;
}
.pohja:hover {
    background-color: rgb(181, 181, 119);
}
.pohja img {
    width: 20em;
    opacity: 0.05;
    transition: transform 2s, opacity 2s ease-in-out 0s;
}
.pohja:hover img {
    width: 20em;
    opacity: 1;
    transition: opacity 2s ease-in-out 2s;
}
.pohja .laatikko {
    overflow: hidden;
    width: 20em;
    height: 0;
    background-color: #aaf;
    border-radius: 0.5em;
    transition: height 1s ease;
}
.pohja:hover .laatikko {
    height: 55%;
}

figure img {
    width: 20em;
    height: 20em;
    border-radius: 1em;
    padding: 0.1em;
    max-width: 100%;
    max-height: 100%;
}

figure figcaption {
    text-align: left;
}

img {
    box-shadow: 0.5em 0.5em 0.5em black;
    padding: 0.2em;
}

@media screen and (max-width: 56em) {
    #niilokoira {
        display: none;
    }
    #niilokoira2 {
        display: none;
    } 
    #niilokoira3 {
        display: none;
    }
    .menu li {

    }           
    menu li {
        position: relative;
        display: inline-block;
    }
}

#niilokoira {
    margin-top: -25em;
}

#niilokoira2 {
    margin-top: -20em;
}

#niilokoira3 {
    margin-top: -40em;
}

#kuvasnooker {
    width: 30.6em;
    height: 31em;
    border-radius: 1em;
}

#kuvabtt {
    width: 30.6em;
    height: 31em;
    border-radius: 1em;
}

#kuvadd {
    width: 30.6em;
    height: 31em;
    border-radius: 1em;
}

#ccg {
    height: 16em;
}