h1 {
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 6px 6px 10px rgba(144, 44, 231, 0.75);
}

h2 {
    text-align: left;
    padding: 5px;
    background-color: darkolivegreen;
    border-radius: 5px;
    display: inline-block;
    
}

p {
    font-family: sans-serif;
    font-size: medium;
}

.top {
    background-color:rgb(56, 117, 30);
    border-radius: 10px;
}

body {
    background-color: rgb(148, 159, 167);
}

aside {
    float: right;
}

footer {
    gap: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(162, 200, 213);
    color: rgb(17, 15, 15);
    text-align: center;
}

.menu li {
    float: left;
    font-weight: 400;
    font-size: large;
    border-style: solid;
    border-radius: 16;
    border-color:  rgb(117, 9, 9);
    background-color: #5c755e;
    width: 24%;
    overflow: hidden;
}

.menu ul {
    list-style-type: none;
    overflow: hidden;
    
}

.menu a {
    color: rgb(213, 201, 201);
    padding: 140px;
    text-decoration: none;
    font-size: large;
}
.menu a:hover {
    background-color: rgb(56, 56, 173);
}

.artikkeli {
    margin: 0.5em;
    background-color: #d8d7c6;
    border-radius: 5px;
    padding: 10px;
    max-width: 600px;
}

#harrasteet {
    font-weight: 600;
    font-size: x-large;
    list-style-type: none;
    display: flex;
    gap: 400px;
    padding: 0 200px;
    background-color: darkolivegreen;
    border-radius: 15px;
    float: left;
}

#harrastuksista p {
    clear: left;
    background-color: #d8d7c6;
    border-radius: 5px;
    padding: 10px;
}

.pohja {
    height: 150px;
    width: 340px;
    background-color: rgb(209, 197, 197);
    border-radius: 5px;
    transition: background-color 3s;
}
.pohja:hover {
    background-color: rgb(181, 181, 119);
}
.pohja img {
    width: 340px;
    opacity: 0.05;
    transition: transform 2s, opacity 2s ease-in-out 0s;
}
.pohja:hover img {
    width: 340px;
    opacity: 1;
    transition: opacity 2s ease-in-out 2s;
}
.pohja .laatikko {
    overflow: hidden;
    width: 340px;
    height: 0;
    background-color: #aaf;
    border-radius: 5px;
    transition: height 1s ease;
}
.pohja:hover .laatikko {
    height: 55%;
}

figure img {
    width: 320px;
    height: 320px;
    border-radius: 10px;
    padding: 1px;
    max-width: 100%;
    max-height: 100%;
}

figure figcaption {
    text-align: left;
}

@media screen and (max-width: 1000px) {
    #niilokoira {
        display: none;
    }
    #niilokoira2 {
        display: none;
    } 
    #niilokoira3 {
        display: none;
    }
    .menu li {

    }
}

#niilokoira {
    margin-top: -380px;
}

#niilokoira2 {
    margin-top: -330px;
}

#niilokoira3 {
    margin-top: -615px;
}

#kuvasnooker {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

#kuvabtt {
    width: 490px;
    height: 500px;
    border-radius: 10px;
}

#kuvadd {
    width: 490px;
    height: 500px;
    border-radius: 10px;
}

#ccg {
    height: 270px;
}