h1 {
    text-align: center;
    color: black;
    font-family: sans-serif;
}

h2 {
    text-align: left;
    padding: 5px;
}

p {
    font-family: sans-serif;
    font-size: medium;
}

.top {
    background-color:rgb(246, 125, 85);
}

aside {
    text-align: right;
    float: right;
}

.menu li {
    float: left;
    font-weight: 400;
    font-size: large;
    border-style: solid;
    border-radius: 16;
    border-color:  rgb(117, 9, 9);
}

.menu ul {
    list-style-type: none;
    overflow: hidden;
    
}

.menu a {
    color: rgb(117, 9, 9);
    padding: 140px;
    text-decoration: none;
    font-size: large;
}
.menu a:hover {
    background-color: rgb(73, 73, 206);
}

.harrasteet {
    list-style-type: none;
    display: flex;
    gap: 400px;
    padding: 0 200px;
}

body {
    background-color: rgb(148, 159, 167);
}

footer {
    gap: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(235, 203, 203);
    color: rgb(17, 15, 15);
    text-align: center;
}

.kuvasnooker {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.niilokoira {
    margin-top: -170px;
    width: 350px;
    height: 350px;
    border-radius: 10px; 
    padding: 0 px;
    top: 40px;
}

.niilokoira2 {
    margin-top: -120px;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.niilokoira3 {
    margin-top: -500px;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.kuvabtt {
    width: 490px;
    height: 500px;
    border-radius: 10px;
}

.kuvadd {
    width: 490px;
    height: 500px;
    border-radius: 10px;
}

.oswald-fontti {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

