h1 {
    color: violet;
}

p {
    color: black;
}

.important {
    background-color: aqua;
    color: red;
}

#title {
    background-color: burlywood;
    color: darkgreen;
}

footer {
    background-color: darkorange;
}

body {
    font-size: 1.1rem;
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}
 /* Tämä on kappaleen tyyli */
.kappale {
    color: red;
    background-color: aqua;
    border: 1px dotted red;
    border-radius: 8px;
    line-height: 1.6;
}

.highlight {
    background-color: chocolate;
    color: slateblue;
}

.card {
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 8px;
    color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}