/* CSS-kokonaisharjoitus, osa 3 */

/* Aloita CSS:n kirjoittaminen tämän kommentin alta. */

*   {
    box-sizing: border-box;
}

#main-content   {
    margin: 1.5em;
    padding: 1em;
}

.card-list  {
    gap: 3em;
}

.card   {
    box-sizing: content-box;
    width: 20em;
    padding: 1em;
    border: 2px solid black;
    border-radius: 1em;
    background-color: rgb(118, 148, 203);
    text-overflow: auto;
}

.hero {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body    {
    background: linear-gradient(white, gray);
    height: 160vh;
}

p   {
    color: rgb(49, 49, 1);
    font-size: large;
}

h3  {
    text-decoration: underline;
}