.pohja {
    height: 150px;
    background-color: white;
    transition: background-color 3s;
}
.pohja:hover {
    background-color: rgb(181, 181, 119);
}
.pohja img {
    float: right;
    opacity: 0;
    transition: opacity 2s ease-in-out 0s;
}
.pohja:hover img {
    opacity: 1;
    transition: opacity 2s ease-in-out 2s;
}
.pohja .laatikko {
    overflow: auto;
    width: 400px;
    height: 0;
    background-color: #aaf;
    transition: height 1s linear;
}
.pohja:hover .laatikko {
    height: 100%;
}

#ccg    {
    height: 150px;
    width: 150px;
}